.form-inline {
    position: absolute;
    margin-inline-start: 700px;
}
.dropdown {
    position: absolute;
    margin-inline-start: 900px;
    cursor: pointer;
}.dropdown-toggle{
    text-decoration: none;
}
.btn{
    background-color: #9834b4;
    color: #eee;
    border-radius: 10px;
    max-width: max-content;
    height: 40px;
    line-height: 16px;
}.btn:hover{
    background-color: #c60ef9;
}
.navbar-brand{
    padding-left: 20px;
}
.navbar{
    position: -webkit-sticky;
    position: sticky;
    height: 70px;
}
img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
    border-radius: 50px;

}